// Buttons
.wp-block-gbb-alert {
  @import "~bootstrap/scss/close";

  // Dismissible alerts
  //
  // Expand the right padding and account for the close button's positioning.

  .alert-dismissible {
    padding-right: ($close-font-size + $alert-padding-x * 2);

    // Adjust close link position
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: $alert-padding-y $alert-padding-x;
      color: inherit;
    }
  }
}
