// Accordion
.wp-block-gbb-accordion {
  @import "~bootstrap/scss/buttons";
  @import "~bootstrap/scss/card";
  @import "~bootstrap/scss/utilities/float";

  .removeCard {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }

  .card {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .card-header {
    cursor: pointer;

    &:active, &:hover {
      box-shadow: none;
    }
  }
}
